@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@500&display=swap');

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

body {
    background-color: #140920;
    color: #F8F9FA;
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

ul {
    list-style-type: none;
}

.div-titulo {
    border-radius: 0.5rem;
    background: #1E1D27;
    padding: 1.5rem;
}

.div-geral {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.div-rank {
    box-sizing: border-box;
    border-radius: 0.5rem;
    background: #1E1D27;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 14px;
    column-gap: 16px;
    justify-content: space-between;
}

p {
    margin-bottom: 12px;
}

.btn-ver {
    border-radius: 16px;
    background: transparent;
    color: #F8F9FA;
    border: 1px solid #fff;
    padding: 6px;
    cursor: pointer;
}

.div-inf {
    display: flex;
    column-gap: 16px;
    align-items: center;
}

#num-rank {
    font-size: 46px;
}

#nome-rank {
    font-size: 24px;
    margin-top: 16px;
}

#num-projetos {
    font-size: 28px;
}

#div-projeto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #F8F9FA;
    text-decoration: none;
}